@using HW4._2.Models

@{
    ViewBag.Title = "Index";
}

<br />
<h2>Insert Data</h2>
<br />
<div class="row">
    <div class="col-md-3">
        <h3>Paper</h3>
        <br />
        @using (Html.BeginForm("DoInsert", "InsertData", FormMethod.Post))
        {
            <label>Amount in Kg: </label>
            @Html.TextBox("PaperKilograms", null, new { @class = "form-control", @type = "number" })<br />
            <label>Month: </label>
            @Html.DropDownList("PaperMonth",
                    new SelectList(Enum.GetValues(typeof(Month))),
                    "Choose Option",
                    new { @class = "form-control" })
        }
    </div>
    <div class="col-md-3">
        <h3>Plastic</h3>
        <br />
        @using (Html.BeginForm("DoInsert", "InsertData", FormMethod.Post))
        {
            <label>Amount in Kg: </label>
            @Html.TextBox("PlasticKilograms", null, new { @class = "form-control", @type = "number" })<br />
            <label>Month: </label>
            @Html.DropDownList("PlasticMonth",
                    new SelectList(Enum.GetValues(typeof(Month))),
                    "Choose Option",
                    new { @class = "form-control" })<br />
            <label>Amount of Bottles: </label>
            @Html.TextBox("bottlesAmount", null, new { @class = "form-control", @type = "number" })
        }
    </div>
    <div class="col-md-3">
        <h3>
            Aluminium
        </h3>
        <br />
        @using (Html.BeginForm("DoInsert", "InsertData", FormMethod.Post))
        {
            <label>Amount in Kg: </label>
            @Html.TextBox("AluminiumKilograms", null, new { @class = "form-control", @type = "number" })
            <br />
            <label>Month: </label>
            @Html.DropDownList("AluminiumMonth",
                    new SelectList(Enum.GetValues(typeof(Month))),
                    "Choose Option",
                    new { @class = "form-control" })
            <br />

            <label>Amount of Cans: </label>
            @Html.TextBox("CansAmount", null, new { @class = "form-control", @type = "number" })
            <br />
        }
    </div>
    <div class="col-md-3">
        <h3>Glass</h3>
        <br />
        @using (Html.BeginForm("DoInsert", "InsertData", FormMethod.Post))
        {
            <label>Amount in Kg: </label>
            @Html.TextBox("GlassKilograms", null, new { @class = "form-control", @type = "number" })<br />
            <label>Month: </label>
            @Html.DropDownList("GlassMonth",
                    new SelectList(Enum.GetValues(typeof(Month))),
                    "Choose Option",
                    new { @class = "form-control" })<br />

            <label>Amount of Beer Bottles: </label>
            @Html.TextBox("BeerBottlesAmount", null, new { @class = "form-control", @type = "number" })<br />

            <label>Amount of Wine Bottles: </label>
            @Html.TextBox("WineBottlesAmount", null, new { @class = "form-control", @type = "number" })<br />
        }
    </div>

</div>

