@model IEnumerable<HW4._2.Models.Aluminum>

@{
    ViewBag.Title = "Aluminum";
}

<h2>Aluminum</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecycleMonth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountOfCans)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecycleMonth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmountOfCans)
        </td>
        <td>

            <input type="button" class="btn btn-danger" value="Delete" onclick="location.href='@Url.Action("DeleteAluminum", "Delete", new {id = item.ID})'" />
        </td>
    </tr>
}

</table>
