@model IEnumerable<HW4._2.Models.Glass>

@{
    ViewBag.Title = "Glass";
}

<h2>Glass</h2>
<table class="table" id="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecycleMonth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountOfBeerBottles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountOfWineBottles)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecycleMonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountOfBeerBottles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountOfWineBottles)
            </td>
            <td>
                <input type="button" class="btn btn-success" value="Update" onclick="location.href='@Url.Action("Index", "Update")'" />
                <input type="button" class="btn btn-danger" value="Delete" onclick="location.href='@Url.Action("DeleteGlass", "Delete", new {id = item.ID})'" />
            </td>
        </tr>
    }


</table>
<br />
<div class="row">
    <div class="col-md-6">
        <div class="well">
            <div>
                <canvas id="myChart"></canvas>
            </div>

        </div>
    </div>
    <div class="col-md-6">
        <div class="well">

            <div>
                <canvas id="myChartTwo"></canvas>
            </div>
        </div>
    </div>
</div>
<!--Canvas for the chart-->
<!--Kode vir die eerste chart, die een wat die totale gewig wys-->
<script>
    const labels = [
        '',
        'January',
        'February',
        'March',
        'April',
        'May',
        'June',
        'July',
        'August',
        'September',
        'October',
        'November',
        'December'

    ];
    const arr = [];
    const arrTwo = [];
    const arrThree = [];
    var rowCount = document.getElementById('table').rows.length;

    //jquery code bewlow is to get all the values in a column and populate the arrays
    $(document).ready(function () {
        $("#table tr").each(function () {
            arr.push($(this).find("td:nth-child(2)").text()); //put elements into array
        });
    });

/////////////////////////////////////////////////////////////////////Pie chart 
    console.log(arr);
    console.log(arrTwo);
    console.log(arrThree);
    var data = {
        labels: labels,
        datasets: [{
            label: 'GLASS WEIGHT (KG)',
            backgroundColor: ["#0074D9", "#FF4136", "#2ECC40", "#FF851B", "#7FDBFF", "#B10DC9", "#FFDC00", "#001f3f", "#39CCCC", "#01FF70", "#85144b", "#F012BE"],
            data: arr,
            backgroundColor: ["#0074D9", "#FF4136", "#2ECC40", "#FF851B", "#7FDBFF", "#B10DC9", "#FFDC00", "#001f3f", "#39CCCC", "#01FF70", "#85144b", "#F012BE"]
        }]
    };
   
    const config = {
        type: 'pie',
        data: data
        /*options: {}*/
    };

    const myChart = new Chart(
        document.getElementById('myChart'),
        config
    );




    /////////////////////////////////////////////////////////////////////Double line chart

    $(document).ready(function () {
        $("#table tr").each(function () {
            arrTwo.push($(this).find("td:nth-child(4)").text()); //put elements into array
        });
    });

    $(document).ready(function () {
        $("#table tr").each(function () {
            arrThree.push($(this).find("td:nth-child(5)").text()); //put elements into array
        });
    });
    const dataTwo = {
        labels: labels,
        datasets: [
            {
                label: 'Wine Bottles',
                data: arrThree,
                borderColor: 'rgb(254, 41, 42)',
                backgroundColor: 'rgb(254, 41, 42)'
            },
            {
                label: 'Beer Bottles',
                data: arrTwo,
                borderColor: 'rgb(14, 106, 208)',
                backgroundColor: 'rgb(14, 106, 208)'
            }
        ]
    };

    const configTwo = {
        type: 'line',
        data: dataTwo,
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Chart.js Line Chart'
                }
            }
        },
    };

    const myChartTwo = new Chart(
        document.getElementById('myChartTwo'),
        configTwo
    );
    /////////////////////////////////////////////////////////////////////Automatically reload the page 
    function fireEvent(element, event) {
        if (document.createEventObject) {
            // dispatch for IE
            var evt = document.createEventObject();
            return element.fireEvent('on' + event, evt)
        }
        else {
            // dispatch for firefox + others
            var evt = document.createEvent("HTMLEvents");
            evt.initEvent(event, true, true); // event type,bubbling,cancelable
            return !element.dispatchEvent(evt);
        }
    }

    setTimeout(function () {

        var links = document.getElementsByTagName("link");
        var st = [];
        for (var x = 0; x < links.length; x++)
            if (links[x].getAttribute("rel") == "stylesheet") {
                st.push(links[x]);
                links[x].wasAtt = links[x].getAttribute("href");
                links[x].setAttribute("href", "");
            }
        setTimeout(function () {
            for (var x = 0; x < st.length; x++)
                st[x].setAttribute("href", st[x].wasAtt);
            setTimeout(function () {
                fireEvent(window, "load");
            }, 0);
        }, 0);
    }, 0); // test reload after five seconds
</script>