@model IEnumerable<HW4._2.Models.Paper>

@{
    ViewBag.Title = "Paper";
}

<h2>Paper</h2>
<h3>@ViewBag.Message</h3>
<table class="table" id="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecycleMonth)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecycleMonth)
            </td>
            <td>
                <input type="button" class="btn btn-success" value="Update" onclick="location.href='@Url.Action("", "InsertData"@*, new {id = item.ID}*@)'" />
                <input type="button" class="btn btn-danger" value="Delete" onclick="location.href='@Url.Action("DeletePaper", "Delete", new {id = item.ID})'" />
            </td>
        </tr>
    }

</table>
<br />
<!--Canvas for the chart-->
<div>
    <canvas id="myChart"></canvas>
</div>

<script>
    const labels = [
        'January',
        'February',
        'March',
        'April',
        'May',
        'June',
        'July',
        'August',
        'September',
        'October',
        'November',
        'December'

    ];
    const arr = [];

    var rowCount = document.getElementById('table').rows.length;

    //jquery code bewlow is to get all the values in a column
    $(document).ready(function () {
        $("#table tr").each(function () {
            arr.push($(this).find("td:nth-child(2)").text()); //put elements into array
        });
        ///////////////////////////////////////////////////////////
    });
    console.log(arr);
    var data = {
        labels: labels,
        datasets: [{
            label: 'Paper Year Summary',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: arr
        }]
    };

    const config = {
        type: 'bar',
        data: data,
        options: {}
    };

    const myChart = new Chart(
        document.getElementById('myChart'),
        config
    );

</script>
