@model IEnumerable<HW4._2.Models.Plastic>

@{
    ViewBag.Title = "Plastic";
}

<h2>Plastic</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecycleMonth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountOfBottles)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmountOfBottles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecycleMonth)
        </td>
        <td>
            
            <input type="button" class="btn btn-danger" value="Delete" onclick="location.href='@Url.Action("DeletePlastic", "Delete", new {id = item.ID})'" />
        </td>
    </tr>
}

</table>
